Cartopy @ file:///D:/bld/cartopy_1614895549943/work
contextily==1.1.0
GDAL==3.1.4
geojson==2.5.0
geojsonio==0.0.3
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1614589434390/work
geoplot==0.4.1
geopy==2.1.0
github3.py==2.0.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-core @ file:///D:/bld/jupyter_core_1612125450516/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
matplotlib @ file:///D:/bld/matplotlib-suite_1611858820206/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
pandas @ file:///C:/ci/pandas_1618365634936/work
py==1.10.0
pygeos==0.9
pyproj @ file:///D:/bld/pyproj_1614924638879/work
